@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-type: none;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans-Light";
  src: local("OpenSans-Light"), url("https://nomail.com.ua/files/woff/1bf71be111189e76987a4bb9b3115cb7.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("https://nomail.com.ua/files/woff/629a55a7e793da068dc580d184cc0e31.woff") format("woff");
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: local("OpenSans-Semibold"), url("https://nomail.com.ua/files/woff/33f225b8f5f7d6b34a0926f58f96c1e9.woff") format("woff");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url("https://nomail.com.ua/files/woff/50145685042b4df07a1fd19957275b81.woff") format("woff");
}
.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .container {
    font-size: 0.9em;
  }
}
@media (max-width: 950px) {
  .container {
    font-size: 0.7em;
  }
}

button {
  background: none;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.header__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  padding: 0% 6% 0% 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 8% 0px 0px;
}
.header__logo-websiteName {
  margin: 0px 0px 0px 10px;
  padding: 10px 0px 0px 0px;
  font-family: Nunito;
  font-size: 2.22em;
  text-transform: uppercase;
  color: #6d6e70;
}
@media (max-width: 380px) {
  .header__logo-websiteName {
    display: none;
  }
}
.header__menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 0px 5.5% 0px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 820px) {
  .header__menu {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .header__menu.active {
    position: absolute;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
  }
}
.header__menu-burger {
  width: 30px;
  height: 30px;
  display: none;
}
@media (max-width: 820px) {
  .header__menu-burger {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-burger > span {
    position: absolute;
    top: 22px;
    width: 30px;
    height: 2px;
    background-color: #111;
  }
  .header__menu-burger.active > span {
    display: none;
  }
  .header__menu-burger::after {
    content: "";
    position: absolute;
    width: 30px;
    top: 15px;
    height: 2px;
    background-color: #111;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-burger.active::after {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 15px;
    width: 30px;
  }
  .header__menu-burger::before {
    content: "";
    position: absolute;
    bottom: 15px;
    width: 30px;
    height: 2px;
    background-color: #111;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-burger.active::before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 13px;
  }
  .header__menu-burger.active {
    position: absolute;
    right: 2px;
    top: -38px;
    z-index: 2;
  }
}
.header__menu-line-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-line-links.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 820px) {
  .header__menu-line-links {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 0px;
  }
  .header__menu-line-links.active {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 1;
    background: #c2c2c2;
    border-radius: 20px;
    top: 10px;
    left: 0px;
    min-width: 100%;
    max-height: 100vw;
    overflow: auto;
    border-bottom: 5px solid #111;
    border-top: 5px solid #111;
    padding-left: 10%;
  }
}
.header__menu-line-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.67;
  font-family: "Open Sans";
  font-size: 0.94em;
  font-weight: 600;
  color: #666666;
  padding: 25px 10px 25px 10px;
}
.header__menu-line-link:hover {
  background: #bddb5d;
}
.header__login {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  position: relative;
  width: 100px;
  height: 37px;
  opacity: 0.81;
  background-color: #add136;
}
@media (max-width: 820px) {
  .header__login {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: 10px;
  }
  .header__login.active {
    margin-right: 40px;
  }
}
.header__login > button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  opacity: 0.81;
  font-family: "OpenSans-Semibold";
  font-size: 0.94em;
  color: #ffffff;
  text-transform: uppercase;
}

.body {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.block1 {
  min-width: 100%;
  height: auto;
  position: relative;
}
.block1 > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 570px;
}
.block1__content {
  background: rgba(201, 208, 203, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 15% 0px 15%;
}
.block1__content-title {
  font-family: "OpenSans-Semibold";
  font-size: 3.5em;
  color: #111;
  line-height: 1.5;
  margin: 0px 0px 10% 0px;
}
@media (max-width: 640px) {
  .block1__content-title {
    font-size: 2.5em;
  }
}
@media (max-width: 440px) {
  .block1__content-title {
    font-size: 1.5em;
  }
}
.block1__content-button {
  width: 254px;
  height: 73px;
  background-color: #99c50a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block1__content-button > button {
  font-family: "OpenSans";
  font-size: 1.35em;
  color: #ffffff;
}
@media (max-width: 950px) {
  .block1__content-button {
    width: 177.8px;
    height: 51.1px;
  }
}
@media (max-width: 440px) {
  .block1__content-button {
    width: 127px;
    height: 29.2px;
  }
}

.block2__container1 {
  padding: 7% 14% 7% 14%;
  text-align: center;
}
.block2__container1-img {
  margin: 0px 0px 5% 0px;
}
.block2__container1-title {
  font-family: "OpenSans-Semibold";
  font-size: 2.2em;
  text-transform: uppercase;
  color: #515151;
  margin: 0px 0px 5% 0px;
  padding: 0 10% 0 10%;
}
.block2__container1-text {
  opacity: 0.7;
  font-family: "OpenSans";
  font-size: 1.37em;
  line-height: 1.4;
  color: #515151;
}
.block2__container1-text > p {
  margin: 0px 0px 3% 0px;
}
.block2__container2-items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 5% 5% 5%;
}
@media (max-width: 900px) {
  .block2__container2-items-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30%;
  }
}
.block2__container2-items-link {
  font-family: "OpenSans-Light";
  font-size: 2.37em;
  line-height: 1.2;
  color: #656565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 900px) {
  .block2__container2-items-link {
    margin: 0 0 12% 0%;
  }
}
.block2__container2-items-link:first-child::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "1";
  position: absolute;
  width: 43px;
  height: 43px;
  background-color: #add136;
  border-radius: 50%;
  margin: 0px 0px 0px -7%;
  font-family: "OpenSans-Semibold";
  font-size: 1em;
  color: #ffffff;
}
@media (max-width: 678px) {
  .block2__container2-items-link:first-child::before {
    margin-left: -15%;
  }
}
.block2__container2-items-link:last-child::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "3";
  position: absolute;
  width: 43px;
  height: 43px;
  background-color: #5f5f5f;
  font-family: "OpenSans-Semibold";
  font-size: 1em;
  color: #ffffff;
  border-radius: 50%;
  margin: 0px 0px 0px -7%;
}
@media (max-width: 678px) {
  .block2__container2-items-link:last-child::before {
    margin-left: -15%;
  }
}
.block2__container2-items-link:nth-child(2)::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "2";
  position: absolute;
  width: 43px;
  height: 43px;
  background-color: #5f5f5f;
  font-family: "OpenSans-Semibold";
  font-size: 1em;
  color: #ffffff;
  border-radius: 50%;
  margin: 0px 0px 0px -7%;
}
@media (max-width: 678px) {
  .block2__container2-items-link:nth-child(2)::before {
    margin-left: -15%;
  }
}
.block2__container2-content {
  padding: 0% 14% 7% 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block2__container2-content-img {
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 550px) {
  .block2__container2-content-img {
    display: none;
  }
}
.block2__container2-content-body-title {
  margin-bottom: 5%;
  font-family: "OpenSans";
  font-size: 2.5em;
  line-height: 1.2;
  color: #add136;
}
@media (max-width: 426px) {
  .block2__container2-content-body-title {
    font-size: 2.1em;
  }
}
.block2__container2-content-body-text {
  opacity: 0.67;
  font-family: "OpenSans";
  font-size: 17.2px;
  line-height: 1.2;
  color: #606060;
}

.block3__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .block3__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.block3__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 7%;
}
@media (max-width: 678px) {
  .block3__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.block3__item:first-child {
  background-color: #e2f8ff;
}
.block3__item:last-child {
  background-color: #f5f9eb;
}
.block3__item:last-child > .__item-content > .__item-content-button {
  background-color: #add136;
}
.block3__item-img {
  margin: 7% 10% 0 0;
}
@media (max-width: 900px) {
  .block3__item-img {
    position: relative;
    margin: 7% 25% 0 0;
  }
}
@media (max-width: 900px) {
  .block3__item-img > img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 678px) {
  .block3__item-img > img {
    position: relative;
  }
}
@media (max-width: 678px) {
  .block3__item-img {
    margin: 0 0 5% 0;
  }
}
@media (max-width: 678px) {
  .block3__item-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.block3__item-content-title {
  font-family: "Montserrat";
  font-size: 1.65em;
  line-height: 1.2;
  color: #515151;
  margin: 0 0 7% 0;
}
.block3__item-content-text {
  font-family: "OpenSans";
  font-size: 1.22em;
  line-height: 1.2;
  color: #515151;
  margin: 0 0 7% 0;
}
.block3__item-content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 187px;
  height: 51px;
  background-color: #26a6d1;
  border-radius: 10px;
}
@media (max-width: 678px) {
  .block3__item-content-button {
    width: 149.6px;
    height: 40.8px;
  }
}
.block3__item-content-button > button {
  font-family: "OpenSans-Semibold";
  font-size: 1.1em;
  color: #ffffff;
}

.block3 > div > :nth-child(2) > .block3__item-content > .block3__item-content-button {
  background-color: #add136;
}

.block4 {
  padding: 7% 10% 7% 10%;
}
.block4__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 7% 0;
}
.block4__top-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15% 0 0;
}
.block4__top-information-title {
  font-family: "OpenSans-Semibold";
  font-size: 29.2px;
  line-height: 1.2;
  color: #515151;
  margin: 0 0 3% 0;
}
.block4__top-information-text {
  font-family: "OpenSans";
  font-size: 17.2px;
  line-height: 1.2;
  color: #8f8f8f;
}
.block4__top-become {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 183px;
  height: 52px;
  opacity: 0.41;
  background-color: #ffffff;
  border: 1px solid #515151;
  border-radius: 15px;
}
.block4__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block4__content-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 2.5% 0 2.5%;
}
.block4__content-item-img {
  min-width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.block4__content-item-img > img {
  width: 100%;
  height: auto;
  max-height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.block4__content-item-img.new::before {
  content: "";
  position: absolute;
  top: -15%;
  left: -15%;
  z-index: 1;
  background-color: #add136;
  width: 35%;
  height: 35%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.block4__content-item-img.new::after {
  content: "NEW";
  position: absolute;
  top: 4%;
  left: 3%;
  z-index: 2;
  width: 15%;
  height: 15%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: Montserrat;
  font-size: 1.05em;
  color: #ffffff;
}
.block4__content-item-img-price {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 43%;
  height: 15%;
  background-color: #26a6d1;
  font-family: "Open Sans";
  font-size: 1.12em;
  line-height: 1.2;
  color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block4__content-item-img-price::before {
  content: "From GBP";
  margin: 0 5px 0 0;
}
.footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}