@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');
@font-face { font-family: 'OpenSans-Light';  src: local('OpenSans-Light'), url('https://nomail.com.ua/files/woff/1bf71be111189e76987a4bb9b3115cb7.woff') format('woff'); }
@font-face { font-family: 'OpenSans';  src: local('OpenSans'), url('https://nomail.com.ua/files/woff/629a55a7e793da068dc580d184cc0e31.woff') format('woff'); }
@font-face { font-family: 'OpenSans-Semibold';  src: local('OpenSans-Semibold'), url('https://nomail.com.ua/files/woff/33f225b8f5f7d6b34a0926f58f96c1e9.woff') format('woff'); }
@font-face { font-family: 'OpenSans-Bold';  src: local('OpenSans-Bold'), url('https://nomail.com.ua/files/woff/50145685042b4df07a1fd19957275b81.woff') format('woff'); }


.wrapper {
	display: grid;
	min-height: 100%;
	grid-template-rows: auto 1fr auto;
}

.container {
	max-width: 1700px;
	margin: 0 auto;
	@media (max-width: 1100px) {
		font-size: 0.9em;
	}
	@media (max-width: 950px) {
		font-size: 0.7em;
	}
}
button {
	background: none;
}
.header {
	grid-row: 1/2;

	&__block {
		display: grid;
		grid-template-columns: auto 1fr auto;
		padding: 0% 6% 0% 6%;
		align-items: center;
		position: relative;
	}
	&__logo {
		grid-column: 1/2;
		display: flex;
		align-items: center;
		margin: 0px 8% 0px 0px;
	}
	&__logo-websiteName {
		margin: 0px 0px 0px 10px;
		padding: 10px 0px 0px 0px;
		font-family: Nunito;
		font-size: 2.22em;
		text-transform: uppercase;
		color: #6d6e70;
		
		@media (max-width:380px) {
			display: none;
		}
	}
	&__menu {
		grid-column: 2/3;
		margin: 0px 5.5% 0px 0px;
		display: grid;
		justify-content: end;

		@media (max-width: 820px) {
			grid-column: 3/4;

			&.active {
				position: absolute;
				grid-column: 1/4;
				grid-row: 2/3;
				width: 100%;
			}
			
		}
	}
	&__menu-burger {
		width: 30px;
		height: 30px;
		display: none;

		@media (max-width: 820px) {
			display: block;
			transition: 0.5s;

			&>span {
				position: absolute;
				top: 22px;
				width: 30px;
				height: 2px;
				background-color: #111;
			}
			&.active>span {
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				width: 30px;
				top: 15px;
				height: 2px;
				background-color: #111;
				transition: 0.5s;
			}
			&.active::after {
				transition: 0.5s;
				transform: rotate(45deg);
				top: 15px;
				width: 30px;
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 15px;
				width: 30px;
				height: 2px;
				background-color: #111;
				transition: 0.5s;
			}
			&.active::before {
				transition: 0.5s;
				transform: rotate(-45deg);
				bottom: 13px;
			}
			&.active {
				position: absolute;
				right: 2px;
				top: -38px;
				z-index: 2;
			}
			
		}
	}
	&__menu-line {}
	&__menu-line-links {
		display: flex;

		&.active {
			flex-direction: column;
		}
		@media (max-width: 820px) {
			position: absolute;
			top: -1000px;
			left: 0;
			width: 0px;

			&.active {
				transition: 0.7s;
				z-index: 1;
				background: #c2c2c2;
				border-radius: 20px;
				top: 10px;
				left: 0px;
				min-width: 100%;
				max-height: 100vw;
				overflow: auto;
				border-bottom: 5px solid #111;
				border-top: 5px solid #111;
				padding-left: 10%;
			}
		}

	
	}
	&__menu-line-link {
		display: flex;
		opacity: 0.67;
		font-family: 'Open Sans';
		font-size: 0.94em;
		font-weight: 600;
		color: #666666;
		padding: 25px 10px 25px 10px;

		&:hover {
			background: #bddb5d;
		}
	}
	&__login {
		grid-column: 3/4;
		position: relative;
		width: 100px;
		height: 37px;
		opacity: 0.81;
		background-color: #add136;

		@media (max-width: 820px) {
			grid-column: 2/3;
			grid-row: 1/2;
			margin-left: auto;
			margin-right: 10px;
			&.active {
				margin-right: 40px;
			}
			
		}
		&>button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: transparent;
			opacity: 0.81;
			font-family: 'OpenSans-Semibold';
			font-size: 0.94em;
			color: #ffffff;
			text-transform: uppercase;
		}
	}
}
.body {
	grid-row: 2/3;
}

.block1 {
	min-width: 100%;
	height: auto;
	position: relative;

	&>img {
		object-fit: cover;
		width: 100%;
		height: auto;
		max-height: 570px;

	}
	&__content {
		background: rgba(201, 208, 203, 0.4);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0px 15% 0px 15%;
	}
	&__content-title {
		font-family: 'OpenSans-Semibold';
		font-size: 3.5em;
		color: #111;
		line-height: 1.5;
		margin: 0px 0px 10% 0px;

		@media (max-width:640px) {
			font-size: 2.5em;
		}
		@media (max-width:440px) {
			font-size: 1.5em;
		}
	}
	&__content-button {
		width: 254px;
		height: 73px;
		background-color: rgba(153, 197, 10, 1);
		display: flex;
		justify-content: center;
		align-items: center;
		&>button {
			font-family: 'OpenSans';
			font-size: 1.35em;
			color: #ffffff;
		}

		@media (max-width: 950px) {
			width: 254px*0.7;
			height: 73px*0.7;
		}
		@media (max-width: 440px) {
			width: 254px*0.5;
			height: 73px*0.4;
		}
		
	}
}

.block2 {
	&__container1 {
		padding: 7% 14% 7% 14%;
		text-align: center;
	}
	&__container1-img {
		margin: 0px 0px 5% 0px;
	}
	&__container1-title {
		font-family: 'OpenSans-Semibold';
		font-size: 2.2em;
		text-transform: uppercase;
		color: #515151;
		margin: 0px 0px 5% 0px;
		padding: 0 10% 0 10%;
	}
	&__container1-text {
		opacity: 0.7;
		font-family: 'OpenSans';
		font-size: 1.37em;
		line-height: 1.4;
		color: #515151;
		
		&>p {
			margin: 0px 0px 3% 0px;
		}
	}
	&__container2 {}
	&__container2-items {}
	&__container2-items-links {
		display: flex;
		justify-content: space-around;
		margin: 0 5% 5% 5%;

		@media (max-width:900px) {
			flex-direction: column;
			justify-content: center;
			padding-left: 30%;
		}
	}
	&__container2-items-link {
		font-family: 'OpenSans-Light';
		font-size: 2.37em;
		line-height: 1.2;
		color: #656565;
		display: flex;
		align-items: center;

		@media (max-width:900px) {
			margin: 0 0 12% 0%;
		}
		

		&:first-child::before {
			display: flex;
			justify-content: center;
			align-items: center;
			content: '1';
			position: absolute;
			width: 43px;
			height: 43px;
			background-color: #add136;
			border-radius: 50%;
			margin: 0px 0px 0px -7%;
			font-family: 'OpenSans-Semibold';
			font-size: 1em;
			color: #ffffff;

			@media (max-width:678px) {
				margin-left: -15%;
			}
		}
		&:last-child::before {
			display: flex;
			justify-content: center;
			align-items: center;
			content: '3';
			position: absolute;
			width: 43px;
			height: 43px;
			background-color: #5f5f5f;
			font-family: 'OpenSans-Semibold';
			font-size: 1em;
			color: #ffffff;
			border-radius: 50%;
			margin: 0px 0px 0px -7%;

			@media (max-width:678px) {
				margin-left: -15%;
			}
		}
		&:nth-child(2)::before {
			display: flex;
			justify-content: center;
			align-items: center;
			content: '2';
			position: absolute;
			width: 43px;
			height: 43px;
			background-color: #5f5f5f;
			font-family: 'OpenSans-Semibold';
			font-size: 1em;
			color: #ffffff;
			border-radius: 50%;
			margin: 0px 0px 0px -7%;
			
			@media (max-width:678px) {
				margin-left: -15%;
			}
		}
	}
	&__container2-content {
		padding: 0% 14% 7% 14%;
		display: flex;
	}
	&__container2-content-img {
		margin-right: 10%;
		display: flex;
		align-items: center;

		@media (max-width:550px) {
			display: none;
		}
	}
	&__container2-content-body {}
	&__container2-content-body-title {
		margin-bottom: 5%;
		font-family: 'OpenSans';
		font-size: 2.5em;
		line-height: 1.2;
		color: #add136;

		@media (max-width:426px) {
			font-size: 2.1em;
		}
	}
	&__container2-content-body-text {
		opacity: 0.67;
		font-family: 'OpenSans';
		font-size: 17.2px;
		line-height: 1.2;
		color: #606060;
	}
}
.block3 {
	&__items {
		display: flex;
		
	}
	&__item {
		display: flex;
		width: 100%;

		&:first-child {
			background-color: #e2f8ff;
		}
		&:last-child {
			background-color: #f5f9eb;
		}
	}
	&__item-img {}
	&__item-content {}
	&__item-content-title {}
	&__item-content-text {}
	&__item-content-button {}
}



.footer {
	grid-row: 3/4;
}